BookDropMachineClient/src/conf/xml-resources/web-service-references/PaymentEntityController/wsdl/localhost_8080/PaymentService/PaymentEntityController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stateless.session/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://stateless.session/" name="PaymentService">
<types>
<xsd:schema>
<xsd:import namespace="http://stateless.session/" schemaLocation="http://localhost:8080/PaymentService/PaymentEntityController?xsd=1"/>
</xsd:schema>
</types>
<message name="payFine">
<part name="parameters" element="tns:payFine"/>
</message>
<message name="payFineResponse">
<part name="parameters" element="tns:payFineResponse"/>
</message>
<message name="MemberNotFoundException">
<part name="fault" element="tns:MemberNotFoundException"/>
</message>
<message name="FineNotFoundException">
<part name="fault" element="tns:FineNotFoundException"/>
</message>
<message name="viewFine">
<part name="parameters" element="tns:viewFine"/>
</message>
<message name="viewFineResponse">
<part name="parameters" element="tns:viewFineResponse"/>
</message>
<portType name="PaymentEntityController">
<operation name="payFine">
<input wsam:Action="http://stateless.session/PaymentEntityController/payFineRequest" message="tns:payFine"/>
<output wsam:Action="http://stateless.session/PaymentEntityController/payFineResponse" message="tns:payFineResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://stateless.session/PaymentEntityController/payFine/Fault/MemberNotFoundException"/>
<fault message="tns:FineNotFoundException" name="FineNotFoundException" wsam:Action="http://stateless.session/PaymentEntityController/payFine/Fault/FineNotFoundException"/>
</operation>
<operation name="viewFine">
<input wsam:Action="http://stateless.session/PaymentEntityController/viewFineRequest" message="tns:viewFine"/>
<output wsam:Action="http://stateless.session/PaymentEntityController/viewFineResponse" message="tns:viewFineResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://stateless.session/PaymentEntityController/viewFine/Fault/MemberNotFoundException"/>
</operation>
</portType>
<binding name="PaymentEntityControllerPortBinding" type="tns:PaymentEntityController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="payFine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
<fault name="FineNotFoundException">
<soap:fault name="FineNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewFine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PaymentService">
<port name="PaymentEntityControllerPort" binding="tns:PaymentEntityControllerPortBinding">
<soap:address location="http://localhost:8080/PaymentService/PaymentEntityController"/>
</port>
</service>
</definitions>