BookDropMachineClient/src/conf/xml-resources/web-service-references/PaymentEntityController/wsdl/localhost_8080/PaymentService/PaymentEntityController.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://stateless.session/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://stateless.session/">

<xs:element name="FineNotFoundException" type="tns:FineNotFoundException"/>

<xs:element name="MemberNotFoundException" type="tns:MemberNotFoundException"/>

<xs:element name="payFine" type="tns:payFine"/>

<xs:element name="payFineResponse" type="tns:payFineResponse"/>

<xs:element name="viewFine" type="tns:viewFine"/>

<xs:element name="viewFineResponse" type="tns:viewFineResponse"/>

<xs:complexType name="viewFine">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewFineResponse">
<xs:sequence>
<xs:element name="return" type="tns:fine" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fine">
<xs:sequence>
<xs:element name="fineAmount" type="xs:double"/>
<xs:element name="lendID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MemberNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payFine">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payFineResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FineNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>