BookDropMachineClient/src/conf/wsdl/localhost_8080/LendService/LendEntityController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stateless.session/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://stateless.session/" name="LendService">
<types>
<xsd:schema>
<xsd:import namespace="http://stateless.session/" schemaLocation="http://localhost:8080/LendService/LendEntityController?xsd=1"/>
</xsd:schema>
</types>
<message name="ReturnLendBook">
<part name="parameters" element="tns:ReturnLendBook"/>
</message>
<message name="ReturnLendBookResponse">
<part name="parameters" element="tns:ReturnLendBookResponse"/>
</message>
<message name="MemberNotFoundException">
<part name="fault" element="tns:MemberNotFoundException"/>
</message>
<message name="LendNotFoundException">
<part name="fault" element="tns:LendNotFoundException"/>
</message>
<message name="ExtendLendBook">
<part name="parameters" element="tns:ExtendLendBook"/>
</message>
<message name="ExtendLendBookResponse">
<part name="parameters" element="tns:ExtendLendBookResponse"/>
</message>
<message name="BookOverDueException">
<part name="fault" element="tns:BookOverDueException"/>
</message>
<message name="FineNotPaidException">
<part name="fault" element="tns:FineNotPaidException"/>
</message>
<message name="ReservedByOthersException">
<part name="fault" element="tns:ReservedByOthersException"/>
</message>
<message name="ViewLendBooksWs">
<part name="parameters" element="tns:ViewLendBooksWs"/>
</message>
<message name="ViewLendBooksWsResponse">
<part name="parameters" element="tns:ViewLendBooksWsResponse"/>
</message>
<portType name="LendEntityController">
<operation name="ReturnLendBook">
<input wsam:Action="http://stateless.session/LendEntityController/ReturnLendBookRequest" message="tns:ReturnLendBook"/>
<output wsam:Action="http://stateless.session/LendEntityController/ReturnLendBookResponse" message="tns:ReturnLendBookResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://stateless.session/LendEntityController/ReturnLendBook/Fault/MemberNotFoundException"/>
<fault message="tns:LendNotFoundException" name="LendNotFoundException" wsam:Action="http://stateless.session/LendEntityController/ReturnLendBook/Fault/LendNotFoundException"/>
</operation>
<operation name="ExtendLendBook">
<input wsam:Action="http://stateless.session/LendEntityController/ExtendLendBookRequest" message="tns:ExtendLendBook"/>
<output wsam:Action="http://stateless.session/LendEntityController/ExtendLendBookResponse" message="tns:ExtendLendBookResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://stateless.session/LendEntityController/ExtendLendBook/Fault/MemberNotFoundException"/>
<fault message="tns:LendNotFoundException" name="LendNotFoundException" wsam:Action="http://stateless.session/LendEntityController/ExtendLendBook/Fault/LendNotFoundException"/>
<fault message="tns:BookOverDueException" name="BookOverDueException" wsam:Action="http://stateless.session/LendEntityController/ExtendLendBook/Fault/BookOverDueException"/>
<fault message="tns:FineNotPaidException" name="FineNotPaidException" wsam:Action="http://stateless.session/LendEntityController/ExtendLendBook/Fault/FineNotPaidException"/>
<fault message="tns:ReservedByOthersException" name="ReservedByOthersException" wsam:Action="http://stateless.session/LendEntityController/ExtendLendBook/Fault/ReservedByOthersException"/>
</operation>
<operation name="ViewLendBooksWs">
<input wsam:Action="http://stateless.session/LendEntityController/ViewLendBooksWsRequest" message="tns:ViewLendBooksWs"/>
<output wsam:Action="http://stateless.session/LendEntityController/ViewLendBooksWsResponse" message="tns:ViewLendBooksWsResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://stateless.session/LendEntityController/ViewLendBooksWs/Fault/MemberNotFoundException"/>
</operation>
</portType>
<binding name="LendEntityControllerPortBinding" type="tns:LendEntityController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ReturnLendBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
<fault name="LendNotFoundException">
<soap:fault name="LendNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="ExtendLendBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
<fault name="LendNotFoundException">
<soap:fault name="LendNotFoundException" use="literal"/>
</fault>
<fault name="BookOverDueException">
<soap:fault name="BookOverDueException" use="literal"/>
</fault>
<fault name="FineNotPaidException">
<soap:fault name="FineNotPaidException" use="literal"/>
</fault>
<fault name="ReservedByOthersException">
<soap:fault name="ReservedByOthersException" use="literal"/>
</fault>
</operation>
<operation name="ViewLendBooksWs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LendService">
<port name="LendEntityControllerPort" binding="tns:LendEntityControllerPortBinding">
<soap:address location="http://localhost:8080/LendService/LendEntityController"/>
</port>
</service>
</definitions>