BookDropMachineClient/src/conf/wsdl/localhost_8080/LendService/LendEntityController.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://stateless.session/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://stateless.session/">

<xs:element name="BookOverDueException" type="tns:BookOverDueException"/>

<xs:element name="ExtendLendBook" type="tns:ExtendLendBook"/>

<xs:element name="ExtendLendBookResponse" type="tns:ExtendLendBookResponse"/>

<xs:element name="FineNotPaidException" type="tns:FineNotPaidException"/>

<xs:element name="LendNotFoundException" type="tns:LendNotFoundException"/>

<xs:element name="MemberNotFoundException" type="tns:MemberNotFoundException"/>

<xs:element name="ReservedByOthersException" type="tns:ReservedByOthersException"/>

<xs:element name="ReturnLendBook" type="tns:ReturnLendBook"/>

<xs:element name="ReturnLendBookResponse" type="tns:ReturnLendBookResponse"/>

<xs:element name="ViewLendBooksWs" type="tns:ViewLendBooksWs"/>

<xs:element name="ViewLendBooksWsResponse" type="tns:ViewLendBooksWsResponse"/>

<xs:complexType name="ViewLendBooksWs">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ViewLendBooksWsResponse">
<xs:sequence>
<xs:element name="return" type="tns:lendws" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lendws">
<xs:sequence>
<xs:element name="bookTitle" type="xs:string" minOccurs="0"/>
<xs:element name="dueDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="lendId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MemberNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExtendLendBook">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExtendLendBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LendNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BookOverDueException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FineNotPaidException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservedByOthersException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReturnLendBook">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReturnLendBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>